@media screen and (max-width: 480px) {
  .product-feature {
    height: 27rem;
  }
  .name input {
    width: 65vw;
  }

  #subscribe-btn {
    width: 67vw;
  }
}

@media screen and (max-width: 900px) {
  .dishead p {
    font-size: 16px;
  }

  .nav-1 {
    display: none;
  }

  .search-bar input {
    display: none;
  }

  .search-bar i {
    display: block;
    position: unset;
    margin: 0px 6px;
    padding: 0px;
    font-size: 25px;
  }
  .menu-logo {
    margin: 0px 6px;
  }
  .menu-detail {
    display: none;
  }

  .second-section {
    flex-wrap: wrap;
  }
  .service-highlight-title {
    font-size: 18px;
  }

  .forth-section-second-content {
    flex-direction: column-reverse;
    height: 800px;
    justify-content: center;
    align-items: center;
  }

  .first-part {
    width: 50%;
  }
  .first-part img {
    display: none;
    margin-left: -150px;
    margin-top: -70px;
    width: 150%;
  }
  .offer {
    margin: 10px;
    font-size: 40px;
    font-weight: 500;
  }
  .offer-time {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
  }
  .forth-section-title {
    padding: 80px 20px;
    font-size: 28px;
  }
  .fifth-section {
    background-size: cover;
    height: 1100px;
    overflow-x: visible;
    background-position: center;
  }

  .form-section {
    margin: 40px 25px;
    width: 90%;
  }
  .form-content {
    width: 415px;
    margin-top: 0px;
  }
  .form-on-img {
    margin-top: 0px;
  }
  .form-content h1 {
    font-size: 32px;
    font-weight: 500;
  }
  .cont {
    margin-top: 15px;
    /* margin: 5px 225px; */
  }

  .section-slogan br {
    display: none;
  }
  .form-on-img {
    background-position: center;
    justify-content: center;
  }
  .newsletter-head {
    font-size: 22px;
    padding: 20px;
  }

  #newsletter-form {
    margin-top: 15px;
    height: 300px;
    width: 415px;
  }

  .brands {
    flex-wrap: wrap;
  }
  .brand-names {
    padding: 10px 0px;
    margin: 0px;
    width: 180px;
  }
  .footer-section {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-social-media {
    justify-content: center;
  }

  #footer-contact-title-adjust {
    margin-left: -30px;
    font-size: 16px;
  }
  #footer-contact-title-sec-menu-adjust {
    font-size: 26px;
  }
  #footer-menu-detail-adjust {
    display: block;
  }
  .footer-content {
    text-align: center;
    width: 50%;
  }
  #footer-contact-adjust {
    width: 50vw;
  }
}

@media screen and (max-width: 1014px) {
  .eightth-section-parts {
    margin: 20px 15px;
  }
  .tagline {
    display: none;
  }
  .navbar-content {
    justify-content: center;
  }
  .feel-the-sound {
    position: absolute;
    margin: 50px 40px;
  }
  #fifth-section-products {
    margin: 150px 20px;
  }

  .sixth-section-boxes {
    height: 360px;
    width: 400px;
    text-align: -webkit-center;
  }
  h2 {
    font-size: 22px;
  }

  .section-box {
    flex-direction: column-reverse;
  }

  .section-box-content {
    margin: 10px;
    width: 100%;
  }
  #footer-contact-adjust {
    place-content: center;

    margin-right: 25px;
  }
}

@media screen and (max-width: 1040px) {
  #contact-menu {
    display: none;
  }
}

@media screen and (max-width: 1144px) {
  .nav-3 {
    display: none;
  }

  .computers:hover #computer-sub-menu {
    display: block;
  }

  .nav-3-menu {
    margin: -180px 193px;
    width: 100vw;
    height: 130vh;
    background: white;
    position: absolute;
    z-index: 100;
  }
  .nav-3-menu ul {
    display: grid;
    margin-top: 145px;
    margin-left: 70px;
    position: fixed;
  }

  .nav-3-menu ul li {
    display: inline-block;
    padding: 10px;
    margin: 0px 0px;
  }
  .active-menu {
    margin-right: 12px;
    visibility: visible;
    font-size: 30px;
  }
  .cont {
    margin: 5px 15px;
    margin-top: 15px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1300px) {
  #first-btn {
    display: none;
  }
}

/* .second-section {
  flex-wrap: wrap;
}

.eightth-section-content {
  display: flex;
   flex-wrap: wrap;
}


.footer-section {

  flex-wrap: wrap;
} 

*/
