* {
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

/* ...........Header............ */
.dishead {
  height: 45px;
  background: orange;
}
.dishead p {
  margin: 0px auto;
  text-align: center;
  padding: 12px;
  color: #505050;
  font-size: 18px;
}

.tagline {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: block;
  margin: 0px auto;
  width: 100%;
}

.nav-1 {
  background: rgb(97%, 97%, 97%);
  padding: 14px;
}
/* ...........Navigation-1............ */
.navbar-content {
  display: flex;

  margin: 0px auto;
  width: 91%;
  justify-content: space-between;
  color: #787878;
  font-size: 15px;
  padding: 5px;
}

.navbar-content ul li {
  display: inline-block;
  position: relative;
  list-style: none;
}

.navbar-content ul li a {
  margin: 20px;
  padding: 5px;
  color: #787878;
  text-decoration: none;
  transition: 200ms;
}

.navbar-content ul li a:hover {
  color: rgb(16%, 15%, 91%);
}

.navbar-content ul li ul.sub-menu li {
  display: block;
  margin: 5px 0px;
  padding: 5px 0px;
  justify-content: space-between;
}

.sub-menu i {
  float: right;
  margin-right: 20px;
}
.view-icon {
  width: 18px;
}

.sub-menu {
  display: none;
  position: absolute;
  margin: 5px 0px;
  height: 9rem;
  width: 15rem;
  border-radius: 5px;
  background: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  z-index: 999;
}

.tooltip:hover .sub-menu {
  display: block;
}
/* ...........Navigation-2............ */
.nav-2 {
  display: block;
  margin: 20px auto;
  width: 90%;
  margin-bottom: 5px;
}

.search-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-bar {
  margin: 0px 0px;
  padding: 5px;
}
.search-bar i {
  position: absolute;
  color: rgb(16%, 15%, 91%);
  padding: 11px;
  font-size: 18px;
}

.search-bar input {
  padding: 11px 35px;
  font-size: 15px;
  border-radius: 5px;
  width: 32rem;
  border: 1px solid rgb(209 209 209);
  box-sizing: border-box;
}

/* .search-bar input[type="text"]:focus {
  border: 1px solid rgb(16%, 15%, 91%);
  color: rgb(16%, 15%, 91%);
}

input:focus {
  border: 3px solid blue;
  border-style: solid;
  text-decoration-color: rgb(16%, 15%, 91%);
  color: rgb(16%, 15%, 91%);
} */
::placeholder {
  color: rgb(214, 214, 214);
}

.contact-menu {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.contact-menu:hover .title {
  transition: 250ms;
  color: rgb(16%, 15%, 91%);
}

.menu-logo {
  font-size: 25px;
  color: rgb(16%, 15%, 91%);
  padding: 5px;
}

.menu-logo :hover .title {
  transition: 250ms;
  color: rgb(16%, 15%, 91%);
}
.menu-detail {
  margin: 5px;
}
.menu-login {
  display: flex;
  cursor: pointer;
}
.menu-login:hover .title {
  transition: 250ms;
  color: rgb(16%, 15%, 91%);
}
.menu-cart {
  display: flex;
  cursor: pointer;
}

.menu-cart:hover .title {
  transition: 250ms;
  color: rgb(16%, 15%, 91%);
}
.title-sec-menu {
  color: #787878;
}

/* ...........................Navigation-3........................ */

.nav-3 {
  border-bottom: 1.5px solid #c7c7c7;
}

.nav-3-menu {
  margin: 25px 60px;
  width: 93%;
}

.nav-3-menu ul {
  display: block;
  list-style: none;
}

.nav-3-menu ul li {
  display: inline-block;
  padding: 10px;
  margin: -10px 0px;
}

.nav-3-menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: rgba(2, 2, 42, 0.863);
}

.nav-3-menu ul li a:hover {
  color: rgb(16%, 15%, 91%);
}

.nav-3-menu ul li a:hover #feat {
  color: rgb(2, 2, 42);
}

.sub-menu-section {
  display: flex;
  position: absolute;
  margin: 5px -79px;
  height: 44vh;
  width: 100vw;
  background: white;
  justify-content: space-around;
  z-index: 1;
}

#nav-3-icon {
  font-size: 150px;
  opacity: 0.05;
}

.section-1 ul {
  margin: 20px 0;
}
.section-1 ul li {
  display: block;
  font-size: 25px;
  color: #3e3e3e;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  padding: 15px;
  margin: 0px 35px;
  border-bottom: 1px solid #c3c3c3;
}
.section-1 ul li a {
  font-size: 20px;
  color: #3e3e3e;
}

#noborder {
  border: none;
}

.section-2 {
  padding: 15px;
  margin: 20px;
}

#nav-3-icon {
  font-size: 200px;
  opacity: 0.05;
}
.section-3 {
  display: flex;
  margin: 20px;
  width: 28rem;
  height: 15rem;
  border-radius: 20px;
  background: #f5f5f5;
}
.section-content {
  margin: 50px 25px;
}

.section-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin: 5px;
}

.section-tag {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  margin: 5px;
}

.section-btn {
  font-size: 16px;
  width: 140px;
  height: 45px;
  margin: 5px;
  font-weight: bold;
  background: rgb(16%, 15%, 91%);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

button a {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.section-btn:hover {
  background: rgb(22, 18, 232);
}
.section-photo img {
  position: fixed;
  padding: 40px;
  width: 150px;
}

#computer-sub-menu {
  display: none;
}
.computers:hover #computer-sub-menu {
  display: block;
}

#smartphones-sub-menu {
  display: none;
}
.smartphones:hover #smartphones-sub-menu {
  margin-left: -152px;
  display: block;
}

#watches-sub-menu {
  display: none;
}

.watches:hover #watches-sub-menu {
  margin-left: -325px;
  display: block;
}

#tv-sub-menu {
  display: none;
}

.tv:hover #tv-sub-menu {
  margin-left: -465px;
  display: block;
}

#tables-sub-menu {
  display: none;
}

.tables:hover #tables-sub-menu {
  margin-left: -612px;
  display: block;
}

#games-sub-menu {
  display: none;
}

.games:hover #games-sub-menu {
  margin-left: -728px;
  display: block;
}

/* ...........................Body........................ */

.first-section img {
  display: block;
  position: relative;
  margin: 50px auto;
  width: 90%;
  border-radius: 18px;
}

.btn {
  font-size: 16px;
  width: 140px;
  height: 45px;
  margin: 5px;
  font-weight: bold;
  background: rgb(16%, 15%, 91%);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  color: white;
}

.btn:hover {
  background: rgb(21, 17, 240);
}
#fist-btn {
  position: absolute;
  margin: -264px 900px;
  font-family: "Plus Jakarta Sans";
}

.second-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  width: 91%;
  justify-content: space-evenly;
}
.service-highlight {
  text-align: center;
  margin: 24px;
  color: rgba(2, 2, 42, 0.845);
  cursor: pointer;
}

.service-highlight-icon {
  font-size: 30px;
  margin: 15px;
}

.service-highlight-title {
  font-size: 22px;
  margin: 5px;
}

.service-highlight-tag {
  color: #5c5c5c;
}

.service-highlight:hover {
  transition: 250ms;
  transform: scale(1.05);
}

/* ...........................Third Section........................ */
.third-section-content {
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  margin: 50px auto;
}
.product-feature {
  position: relative;
  margin: 16px auto;
  width: 37rem;
  height: 37rem;
  border-radius: 15px;
  background: #1a1a1a;
}

.product-img img {
  position: absolute;
  width: 100%;
  border-radius: 15px;
}
.details {
  margin: 30px;
  margin-top: 120px;
  padding: 10px;
  position: absolute;
  color: white;
}

.product-header {
  margin: 15px auto;
}

.product-title {
  margin: 15px auto;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.product-tag {
  margin: 15px auto;
}

/* ...........................Forth Section........................ */

.forth-section {
  background: rgb(97%, 97%, 97%);
}
.forth-section-content {
  display: block;
  margin: 0px auto;
  width: 90%;
}
.section-title {
  padding: 80px;
  margin-bottom: -50px;
  text-align: center;
  font-size: 35px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: rgb(4%, 10%, 28%);
}

.section-sub-title {
  text-align: center;
  color: #5f5f5f;
}

.product-showcase {
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto;
  width: 96%;
}
.product {
  width: 364px;
  height: 510px;
  margin: 12px;
  border-radius: 15px;
  background: white;
  align-items: center;
}

.onsale {
  width: 55px;
  height: 14px;
  padding: 5px;
  margin: 45px;
  margin-bottom: 0px;
  font-size: 13px;
  border-radius: 5px;
  background: rgb(16%, 15%, 91%);
  color: white;
}

.forth-section-product-img img {
  margin: 20px;
  width: 90%;
  margin-top: -40px;
}
.forth-section-product-title {
  text-align: center;
  font-size: 28px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.forth-section-product-rating {
  text-align: center;
  margin: 5px;
  font-size: 14px;
  color: rgb(16%, 15%, 91%);
}

.forth-section-product-price {
  text-align: center;
  font-size: 20px;
  margin: 5px;
  color: rgb(16%, 15%, 91%);
}

.forth-section-second-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 80px auto;
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  border-radius: 18px;
  border: 1px solid white;
  background: rgb(32%, 16%, 46%);
  justify-content: space-between;
}

.first-part img {
  margin-left: -115px;
  width: 120%;
}

.first-part {
  width: 49%;
}

.second-part {
  margin: 50px 0px;
  width: 49%;
  color: white;
  text-align: center;
}

.offer {
  font-size: 50px;
  font-weight: bold;
}

.offer-time {
  display: flex;

  margin: 30px;
}
.time-container {
  display: block;
  padding: 20px;
  margin: 12px;
  width: 100px;
  height: 59px;
  background: #ffffff1f;
  border-radius: 20px;
}

.time-1 {
  font-weight: 500;
  font-size: 27px;
}
.time-2 {
}
.price {
  font-size: 22px;
}
#iphone-btn {
  margin: 15px;
  background: rgb(15%, 76%, 85%);
}
#iphone-btn:hover {
  transition: 250ms;
  background: rgb(1, 221, 255);
}

#product-2nd {
  width: 265px;
  height: 440px;
}

.forth-section-third-content {
  padding-bottom: 25px;
}

.fifth-section {
  background: rgb(97%, 97%, 97%);
  background-image: url(/img/carefree-beautiful-stylish-girl-with-curly-hairlistening-music-earphones.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 963px;
}

#fifth-section-products {
  margin: 290px auto;
  position: absolute;
}

#product-3rd {
  width: 300px;
  height: 460px;
}
